@import url('base.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Sour+Gummy:ital,wght@0,100..900;1,100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.12.1/font/bootstrap-icons.min.css");
:root{
    --font-texto: "Nimbus Mono, monospace";;
    --font-titulo:  "DM Serif Text", serif;
    --font-goma-: "Sour Gummy", sans-serif;
    --cor-pessego:rgb(180, 91, 100);
    --cor-branco:rgb(240, 240, 240);
    --cor-rosaclaro: #ffc6c7;
    --cor-letra-nobranco: #ac6879;
    --quase-branco: #ecdede;
    --preto:black;
    --clarinho:#e5d4d1;
    --rosinha:#d39799;
    --corfont-marrom:#573a3a;

}


 .r-linha-item img {
  width: 180px;
  height: auto;

}
*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    font-family: var(--font-titulo);
    background-color: var(--cor-branco);
    color: var(--cor-pessego);
    height: 100vh;
    padding: 0;
    margin: 0;
}
main{
        display: flex;
        /* esse flex:1 é para fixar o rodapé lá em baixo; */
        flex:1;
        flex-direction: column;
        padding: 10px;
}

  /* menu  */
  header {
    background-color:var(--quase-branco); 
}
.r-linha-item img {
    width: 180px;
    height: auto;
  }
  /* tira a borda do botao de nav */
  .navbar-toggler{
    border: none;
  }
  main {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background: var(--cor-branco);
    border-radius: 50px;
    box-shadow: 0 0 10px var(--cor-pessego);
    font-size: 18px;
}


/* DEIXAR NO FINAL */

main{
    width: 90%;
}
@media screen and (max-width:400px){
    header{
        flex-direction:column;
    }
}
